UILabelEdgeinsets.xcodeproj/project.xcworkspace/contents.xcworkspacedata
UILabelEdgeinsets.xcodeproj/project.xcworkspace/xcuserdata/ansis.xcuserdatad/WorkspaceSettings.xcsettings
UILabelEdgeinsets.xcodeproj/xcuserdata/ansis.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
UILabelEdgeinsets.xcodeproj/xcuserdata/ansis.xcuserdatad/xcschemes/UILabelEdgeinsets.xcscheme
UILabelEdgeinsets.xcodeproj/xcuserdata/ansis.xcuserdatad/xcschemes/xcschememanagement.plist
